<div class="container border shadow-sm p-3">
    <div class="row mb-3">
        <h3>Q({{questionNo+1}}/10) {{currentQ.question}}</h3>
    </div>
    <div class="row mb-5">
        <div class="container">
            <div class="row mb-2">
                <div class="col m-2 py-2 px-4 rounded-3">
                    <div class="form-check">
                        <input class="form-check-input me-3" type="radio" id="option1"
                        [(ngModel)]="option" name="option" value="1" (click)="saveResponse(1)">
                        <h1>{{currentQ.opA}}</h1>
                    </div>
                </div>
                <div class="col m-2 py-2 px-4 rounded-3">
                    <div class="form-check">
                        <input class="form-check-input me-3" type="radio" id="option2"
                        [(ngModel)]="option" name="option" value="2" (click)="saveResponse(2)">
                        <h1>{{currentQ.opB}}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m-2 py-2 px-4 rounded-3">
                    <div class="form-check">
                        <input class="form-check-input me-3" type="radio" id="option3"
                        [(ngModel)]="option" name="option" value="3" (click)="saveResponse(3)">
                        <h1>{{currentQ.opC}}</h1>
                    </div>
                </div>
                <div class="col m-2 py-2 px-4 rounded-3">
                    <div class="form-check">
                        <input class="form-check-input me-3" type="radio" id="option4"
                        [(ngModel)]="option" name="option" value="4" (click)="saveResponse(4)">
                        <h1>{{currentQ.opD}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2 justify-content-center">
        <div class="col-2">
            <button type="button" class="btn btn-primary container" (click)="previous()">Previous</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-danger container" (click)="submit()">Submit</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary container" (click)="next()">Next</button>
        </div>
    </div>
</div>